body{
    background-color: rgb(235, 157, 205);
}



   
.navbar-brand{
    
    margin-right: -10%;
    font-size: 50px;
    font-family:'Bilbo Swash Caps', cursive; 
    font-weight: bold;
}


li{
   
    font-weight: bold;
    font-size: 25px;
    font-family:'Bilbo Swash Caps', cursive; 
    }




.feet {
   
    margin-top: 20px;
    height: 500px;
    float: left;
    
}

.meet{
    margin-bottom: -80px;
    font-family:'Bilbo Swash Caps', cursive; 
    color: rgb(14, 13, 13);font-size: 140px;
    
}
    

#iz { 
   
    font-family:'Bilbo Swash Caps', cursive; 
    color: rgb(14, 13, 13); font-size: 150px;
}





.main {
    height: 25%;
    padding: 25px;
    
    
    float: left;
    margin: 50px;
    margin-left: 100px;
    
    border: 3px solid white;
    box-shadow: 0px 0px 8px rgba(0,0,0,.3);
   }

#subtitle {
    font-family:'Bilbo Swash Caps', cursive;
    font-size: 50px;
    font-weight: bold;
    margin-top: -80px;
    margin-bottom: 25px;
    text-align: center;

}

.info {
   
    border: 5px #f8f9fa solid;
    background-color: rgb(180, 228, 168);
    margin-top: 5%;
    text-align: center;
    font-size: 45px;
    font-family: 'Satisfy', cursive;
}

.card {
    background-color: white;
}

#BG {
    margin-top: 10px;
    font-size: 75px;
}

.first{
   max-width: 290px;
   float: right;
   margin-top: -373px;
   margin-right: 12.5%;
}
    
.phototitle{
    text-align: center;
   padding: 10px;
    font-family: 'Satisfy', cursive;
    font-size: 150px;

}

#play {
    font-family:'Bilbo Swash Caps', cursive;
   font-weight: bold;
   font-size: 40px;
  padding-left: 40%;
    
}


 .cr {

margin-right:350px;    
margin-top: 100px;
margin-left:50%;
} 

 
  
    
 

 a {
     border: 5px #f8f9fa solid;
     width: 30%;
     float: left;
     margin: 1.66%;
 }

 .cr2{
     text-align: center;
 }

 video{
     margin: 1.66%;
    border: 5px white solid;
    
 }