body{
    background-color: rgb(235, 157, 205);
}

/* .title{
padding-top: 25px;
padding-right: 300px;
padding-left: 300px;


   
} */
    
.nav-link {
font-weight: bold;
font-size: 25px;

}



.feet {
   
    margin-top: -25px;
    height: 500px;
    
}

.meet{
    margin-bottom: -40px;
    font-family:'Bilbo Swash Caps', cursive; 
    color: rgb(14, 13, 13);font-size: 140px;
    
}
    

#iz { font-family:'Bilbo Swash Caps', cursive; 
    color: rgb(14, 13, 13); font-size: 150px;
}





.main {
    padding: 25px;
    
    
    float: left;
    margin: 50px;
    margin-left: 100px;
    
    border: 3px solid white;
    box-shadow: 0px 0px 8px rgba(0,0,0,.3);
   }

#subtitle {
    font-family:'Bilbo Swash Caps', cursive;
    font-size: 50px;
    font-weight: bold;
    margin-top: -80px;
    margin-bottom: 25px;

}

.info {
    /* padding-right: 200px;
    margin-left: 200px;
    margin-right: 200px; */
    background-color: rgb(180, 228, 168);
    margin-top: 5%;
    text-align: center;
    font-size: 45px;
    font-family: 'Satisfy', cursive;
}

.card {
    background-color: white;
}

#BG {
    font-size: 75px;
}

.first{
   max-width: 290px;
   float: right;
   margin-top: -373px;
   margin-right: 12.5%;
}
    
.phototitle{
    text-align: center;
   padding: 10px;
    font-family: 'Satisfy', cursive;
    font-size: 150px;

}

/* footer */

.cr {

   
margin-right:350px;    
margin-top: 100px;
    text-align: center;
}

/* -------------------------- */
/* css for photo in/out */
/*Eliminates padding, centers the thumbnail */

    body, html {
    padding: 0;
    margin: 0;
    text-align: center;
    }
    
    /* Styles the thumbnail */
    
     .lightbox img {
    height: 100px;
    border: 3px solid white;
    box-shadow: 0px 0px 8px rgba(0,0,0,.3);
    
    }
     
    

    .lightbox2 img {
        height: 100px;
        border: 3px solid white;
        box-shadow: 0px 0px 8px rgba(0,0,0,.3);
        margin: 25px;
        margin-right: 30%;
       
        }


    /* photo pos */
    .

    /* #photoTop {
        align-content: center;
    } */

  
.cr {
    align-content: center;

}

.cr2 {
    align-content: center;
    margin-bottom: -10px;

}
    
    


